*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


main {
  flex: 1;
}

.btn-primary {
  background-color: #ffc000;
  color: #000;
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

/* product card component */
.rating span {
  color: #ffc000;
}

.product-card {
  border: 1px solid #404040;
  margin: 1rem;
}

.product-card img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

/* product component */
.img-large {
  max-width: 100%;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}